*/__pycache__/
*.pyc
*.pyo
*.pyd
*.vscode
*.git*/
*/slurm_logs*
*/optuna*.db
*perf_logs.txt
*events.out.tfevents.*
logs*
CGCNN_MT/logs/*/*
inference/*
*/inference/*
*.ipynb
*.ipynb_checkpoints
test.ipynb
CGCNN_MT/data
GCMC/data
*.sh
*.ckpt
*/feature_folders
*/figures
results/
